<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LottoDataManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LottoDataManager.Properties.Settings>
            <setting name="msaccess_datasource_path" serializeAs="String">
                <value>\DatabaseMain\Lotto_Main_DB_BACKUP.accdb</value>
            </setting>
            <setting name="db_type" serializeAs="String">
                <value>MSACCESS</value>
            </setting>
            <setting name="currency_symbol" serializeAs="String">
                <value>₱</value>
            </setting>
            <setting name="lotto_scrape_site" serializeAs="String">
                <value>https://www.pcso.gov.ph/SearchLottoResult.aspx</value>
            </setting>
            <setting name="version_major" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="version_minor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="version_patch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="version_release" serializeAs="String">
                <value>r0</value>
            </setting>
        </LottoDataManager.Properties.Settings>
    </userSettings>
</configuration>